* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

/* Style untuk navbar */
.navbar {
  width: 100%;
  padding: 10px 40px;
  background: rgba(0, 0, 0, 0.4); /* Transparan hitam */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  backdrop-filter: blur(6px); /* Efek blur (opsional) */
  z-index: 1000;
}

/* Wrapper div */
nav h2 {
  font-size: 2.2rem;
  font-weight: bold;
  color: greenyellow;
}

/* Menghapus bullet list */
nav ul {
  list-style: none;
  display: flex;
}

/* Jarak antar item */
nav ul li {
  margin-left: 2rem;
}

/* Link */
nav ul li a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 5px;
  padding: 8px 15px;
}

/* Hover efek */
nav ul li a:hover {
  color: white;
  background-color: green;
}

.hero img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  opacity: 60%;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.hero-text h1 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

.hero-text p {
  font-size: 1.5rem;
}

button {
  color: green;
  font-size: 2.3rem;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 25px;
  background-color: white;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

button a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px;
}

button:hover {
  color: white;
  background-color: green;
  transition: 0.3s ease-in-out;
}

footer {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}
